@font-face {
  font-family: "iconfont"; /* Project id 4904912 */
  src: url('iconfont.woff2?t=1752414893577') format('woff2'),
       url('iconfont.woff?t=1752414893577') format('woff'),
       url('iconfont.ttf?t=1752414893577') format('truetype'),
       url('iconfont.svg?t=1752414893577#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wendangai-zanting:before {
  content: "\e680";
}

.icon-icon_AI_fasong:before {
  content: "\e809";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-down:before {
  content: "\e666";
}

.icon-ashbin:before {
  content: "\e667";
}

.icon-arrow-right:before {
  content: "\e668";
}

.icon-browse:before {
  content: "\e669";
}

.icon-bottom:before {
  content: "\e66a";
}

.icon-arrow-double-left:before {
  content: "\e66b";
}

.icon-arrow-double-right:before {
  content: "\e66c";
}

.icon-close:before {
  content: "\e66d";
}

.icon-direction-down:before {
  content: "\e66e";
}

.icon-direction-right:before {
  content: "\e66f";
}

.icon-direction-up:before {
  content: "\e670";
}

.icon-direction-left:before {
  content: "\e671";
}

.icon-download:before {
  content: "\e672";
}

.icon-favorite:before {
  content: "\e673";
}

.icon-menu:before {
  content: "\e677";
}

.icon-select:before {
  content: "\e67e";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-arrow-left-filling:before {
  content: "\e68a";
}

.icon-arrow-right-filling:before {
  content: "\e68b";
}

.icon-notification-filling:before {
  content: "\e68c";
}

.icon-warning-filling:before {
  content: "\e68d";
}

